<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHpNq2XMrvxC6QsL5JwPZTsgQ5F5mp4r0&libraries=places">
    </script>
    <link href="static/css/estilos.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/MainService.js"></script>
    <script type="text/javascript" src="static/js/MainController.js"></script>
</head>

<body ng-app="MapasTeste">
    <div class="corpo container" ng-controller='MainController as controller'>
        <div class="row">
            <h2 class="titulos">TopaTudo</h2>
            <h4 class="titulos">Pesquisa de endereço de empresas por CNPJ</h4>
        </div>
        <div class="row">
            <input class="entrada" type="text" placeholder="Endereço ou cep" ng-model="endereco" />
            <button class="entrada" ng-click="controller.buscarEndereco(endereco)">Buscar</button>
        </div>
        <div class="row">
            <input class="entrada" type="text" placeholder="CNPJ" ng-model="cnpjBuscado" />
            <button class="entrada" ng-click="controller.buscarCNPJ(cnpjBuscado)">Buscar</button>
        </div>
        <div>
            <h3 ng-bind="nomeEmpresa"></h3>
        </div>
        <div class="row">
            <div class="col-md-6 mapa mapa-esquerda" id="map">
            </div>
            <div class="col-md-6 mapa mapa-direita" id="panorama">
            </div>
        </div>
    </div>
</body>

</html>