<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHpNq2XMrvxC6QsL5JwPZTsgQ5F5mp4r0&libraries=places">
    </script>

    <script src="js/MainService.js"></script>
    <script src="js/MainController.js"></script>
</head>

<body ng-app="MapasTeste">
    <div ng-controller='MainController as controller'>
        <div>
            <input type="text" placeholder="Endereço ou cep" ng-model="endereco" />
            <button ng-click="controller.buscarEndereco(endereco)">Buscar</button>
        </div>
        <div>
            <input type="text" placeholder="CNPJ" ng-model="cnpjBuscado" />
            <button ng-click="controller.buscarCNPJ(cnpjBuscado)">Buscar</button>
        </div>
        <div style="height: 450px; width: 450px; margin-top: 20px" id="map">
        </div>
        <div style="height: 450px; width: 450px; margin-top: 20px" id="panorama">
        </div>
    </div>
</body>

</html>